header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
header #api_status{
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    border-radius: 50%;
    

    position: absolute;
    right: 30px;
}


header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
    
}
